.idea/

# Byte-compiled / optimized / DLL files
planner/__pycache__/
planner/*.py[cod]
planner/*$py.class

# C extensions
planner/*.so

# Distribution / packaging
planner/.Python
planner/build/
planner/develop-eggs/
planner/dist/
planner/downloads/
planner/eggs/
planner/.eggs/
planner/lib/
planner/lib64/
planner/parts/
planner/sdist/
planner/var/
planner/wheels/
planner/*.egg-info/
planner/.installed.cfg
planner/*.egg
planner/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
planner/*.manifest
planner/*.spec

# Installer logs
planner/pip-log.txt
planner/pip-delete-this-directory.txt

# Unit test / coverage reports
planner/htmlcov/
planner/.tox/
planner/.coverage
planner/.coverage.*
planner/.cache
planner/nosetests.xml
planner/coverage.xml
planner/*.cover
planner/.hypothesis/
planner/.pytest_cache/

# Translations
planner/*.mo
planner/*.pot

# Environments
.env
.venv
env/
ENV/
env.bak/
venv.bak/
